@import "variables";

.grid-container {
    font-size: 40px;
    min-height: 800px;
    width: 100%;
    background: lightgray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
}

@media only screen and (min-width: $pixel2)  {
    .grid-container {
        grid-template-rows: repeat(3, 1fr);
    }
}

@media only screen and (min-width: $landscape-phones)  {
    .grid-container {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media only screen and (min-width: $tablets)  {
    .grid-container {
        grid-template-rows: repeat(3, 1fr);
    }
}

@media only screen and (min-width: $desktops)  {
    .grid-container {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media only screen and (min-width: $large-desktops)  {
    .grid-container {
        grid-template-rows: repeat(2, 1fr);
    }
}

@media only screen and (min-width: $x-large-desktops)  {
    .grid-container {
        grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    }
}

.item1{
    background-color: $tetradic-color-one;
}

.item2{
    background-color: $tetradic-color-two;
}

.item3{
    background-color: $tetradic-color-three;
}

.item4{
    background-color: $tetradic-color-one;
}

.item5{
    background-color: $tetradic-color-two;
}

.item6{
    background-color: $tetradic-color-three;
}

