@import '_variables';

.headline {
    background-color: $secondary-color;
}

.headline {
    h2 {
    text-align: center;
    color: $primary-color;
    font-size: 30px;
    }
}

@media (min-width: 992px) {
    .headline h2 {
        font-size: 40px;
    }
}