@import '_variables';

.box {
	background-image:url('../images/hahasmart-hero-image.jpg');
	overflow: hidden;
	background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 0 49% 0;
}

.box {
    h1 {
        color: $primary-color;
        text-align:center;
        margin: 10% 0 0 0;
        padding: 3%;
        font-weight: bolder;
        font-size: $h1-font-xs;
        text-shadow: 2px 2px $tetradic-color-one;
    }
}

.box {
    h2 {
        color: $primary-color;
        text-align:center;
        font-size: $h2-font-xs;
        margin: 0 0 20% 0;
        padding: 0 5%;
    }
}

.hero-button {
    position: absolute;
    top: 48%;
    left: 30%;
    background-color: transparent;
    border: 1px solid $tetradic-color-one;
    color: $tetradic-color-one;
    font-weight: 900;
}

.hero-button:hover,
    .hero-button:focus {
        background-color: transparent;
        border: 1px solid $tetradic-color-three;
        color: $tetradic-color-three;
    }  

@media only screen and (min-width: $landscape-phones)  {
    .hero-button {
        left: 37%;
    }
}

@media only screen and (min-width: $tablets)  {
.box {
    h1 {
        font-size: $h1-font-xl;
        padding: 7% 0 5% 0;
    }
}

.box {
    h2 {
        font-size: $h2-font-xl;
        text-shadow: 2px 2px $dark-color;
    }
}

.hero-button {
    top: 76%;
    left: 37%;
    font-size: 1.5rem;
}
} 

@media only screen and (min-width: $large-desktops) {
    .hero-button {
        left: 43%;
    }
}