//////////////////////////////
////////// Variables /////////
//////////////////////////////

// Colors
$primary-color: #efefef;
$secondary-color: #82c23b; 
$dark-color: #000000;
$hover-background-color: #97ca55;
$primary-bg-color: #f9f9f9;

// Tetradic colors
$tetradic-color-one: #c27b3b;
$tetradic-color-two: #3b82c2;
$tetradic-color-three: #7b3bc2;


// Fonts
$primary-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Lato', sans-serif;

// Font-size mobile
$h1-font-xs: 1.8rem;
$h2-font-xs: 1.2rem;
$button-font-xs: 0.7rem;

// Font-size desktop
$h1-font-xl: 3.5rem;
$h2-font-xl: 2.2rem;

// Screen sizes
$pixel2: 411px;
$landscape-phones: 576px;
$tablets: 768px;
$desktops: 992px;
$large-desktops: 1200px;
$x-large-desktops: 1900px;