@import 'variables';

.box {
	background-image:url('../images/solarpanels.png');
	overflow: hidden;
	background-size: cover;
  background-repeat: no-repeat;
}

.box > h1 {
	color: $primary-color;
	text-align:center;
	margin-top:12%;
	margin-bottom: 3%;
  padding: 3%;
  font-weight: bolder;

}

.box {
  h2 {
    color: $primary-color;
    text-align:center;
    margin-bottom: 14%;
  }
}

.box {
  a {
    button {
	  color: #000;
    text-align: center;
    margin-bottom: 12%;
    background-color: $secondary-color;
    border: 2px solid $secondary-color;
    border-radius: 25px;
    position: absolute;
    top: 65%;
    right: 46%;
    display: inline-block;
    height: 49px;
    width: 225px;
    font-size: 19px;
    font-weight: 700;
    }
  }
}

.box > a > button:hover {
  color: $hover-color;
  background-color: $hover-background-color;
  border: 2px solid $hover-background-color;
  cursor: pointer;
}
