@import '_variables';
@import "_hero-section";
@import "_nav-bar";
@import "_text-box";
@import "_positioning-flexbox";
@import "_box_step";
@import "_milestone-section";

// styles.scss
body,
html {
  height: 100%;
  margin: 0;
  background-color: $primary-color;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font-family;
}

p, a {
  font-family: $secondary-font-family;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a:hover, 
  a:focus {
  text-decoration: none;
}

a {
  img {
    border: none;
  }
}

@media only screen and (min-width: $large-desktops) {
  body {
    font-size: 22px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 48px;
  }
}

