@import '_variables';
@import "_hero-section";
@import "_nav-bar";
@import "_text-box";
@import "_positioning-flexbox";
@import "_box_step";

// styles.scss
body,
html {
  height: 100%;
  margin: 0;
  background-color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font-family;
  text-align: center;
}

p, a {
  font-family: $secondary-font-family;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a:hover, 
  a:focus {
  text-decoration: none;
}

a {
  img {
    border: none;
  }
}

